{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вопросы и ответы</title>
    <link rel="shortcut icon" href="{% static 'main/images/favicon.png' %}" type="image/x-icon">
    <script type="text/javascript" src="{% static 'main/js/scripts.js' %}"></script>
    <link type="text/css" href="{% static 'main/css/faq.css' %}" rel="stylesheet" />
</head>
<body>
    <div id="home-link"><a href="{% url 'main_page' %}"><img id="homepage-icon" src="{% static 'main/images/favicon.png' %}" title="на главную страницу"></a></div>
    <div class="info-block"><em>Вопросы, которые вы стеснялись задать и ответы, которые вы жаждали получить.</em></div>
    <div id="main-body">
        <div class="faq-container">
            {% for question in data %}
            <details onclick="toggleSpoilers(event)">
                <summary>&nbsp;{{ question.question }}</summary>
                <div class="faq-answer">{{ question.answer|safe }}</div>
            </details>
            {% endfor %}
        </div>
    </div>
</body>
</html>