{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Инструкция</title>
    <script type="text/javascript" src="{% static 'main/js/scripts.js' %}"></script>
    <link type="text/css" href="{% static 'main/css/instruction.css' %}" rel="stylesheet" />
    <link rel="shortcut icon" href="{% static 'main/images/favicon.png' %}" type="image/x-icon">
</head>
<body>
    <div class="content">
        <div class="info-text">
            <p><span class="underline">ГЛАВНАЯ СТРАНИЦА</span></p>
            <hr/>
            <a href="https://yrarami.ru">yrarami.ru</a> - главная страница сайта. Тут просто меню с разделами и ещё
            внизу указана версия сайта:<br/>
            <div class="image-info-container">
                <img class="image-for-info shadow" src="{% static 'main/images/img1.png' %}" alt="Картинка">
            </div>
            - первая цифра означает крупные изменения, например полное изменение дизайна, добавление крупного раздела<br/>
            - вторая цифра означает изменения поменьше, например добавление нового функционала, исправление крупных багов<br/>
            - третья цифра - это мелкие исправления, например фикс мелких багов, мелкие изменения по дизайну, добавление какой-то текстовой информации<br/>
            <hr/>
            <p>СТРАНИЦА <span class="underline">ОБО МНЕ</span></p>
            <hr/>
            <a href="https://yrarami.ru/about">yrarami.ru/about</a> - можно сказать твоя визитка, только в подробном виде.
            Чтобы люди могли ознакомиться кто ты такая, какой путь прошла и чем мы на стримах занимаемся. Не стал там ничего
            писать, думаю ты лучше о себе расскажешь. Можно и убрать раздел, если хочешь.
            <hr/>
            <p>СТРАНИЦА <span class="underline">ССЫЛКИ</span></p>
            <hr/>
            <a href="https://yrarami.ru/links">yrarami.ru/links</a> - страница со ссылками на все твои соцсети и прочее.
            Блоки кликабельные, открывают на соседней вкладке страницу по ссылке. Чтобы красивенько смотрелось добавил
            20 ссылок во весь экран, чтобы пустого места не было, какие-то можно убрать, например мёртвый вк или старый
            тикток (если будет что поставить вместо них). Не уверен насчёт инсты можно ли её указывать, надо уточнить этот момент.
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img5.png' %}" alt="Картинка">
            </div>
            Текст для ссылок и сами ссылки можно изменить в админке, но будь аккуратнее с описанием для ссылок, если
            текст переполнит блок, то он просто вылезет за его края. В двух блоках я вручную указал шрифт поменьше (например
            на скрине выше это донейшен), потому что там не влазило. Так что если разойдёшься и много текста напишешь,
            скажи мне, я в этом блоке шрифт уменьшу.
            <hr/>
            <p>СТРАНИЦА <span class="underline">РУЛЕТКА</span></p>
            <hr/>
            <a href="https://yrarami.ru/roulette">yrarami.ru/roulette</a> - страница с результатами рулетки. Уже настроил
            таким образом, что не нужно обновлять вручную из админки (по кнопке), информация обновляется в реальном времени.
            На сервере запущен скрипт, который слушает сообщения от Donation Alerts и реагирует на <span class="underline">события рулетки</span> и
            <span class="underline">заказ випок</span> (сохраняет их в базу). Можно, кстати, и другие события обрабатывать:
            донаты, рейды, фолловеры, подписки и т.д. Если захочешь я и для них добавлю таблички.<br/>
            <br/>
            На эту страницу из базы данных приходит вся информация о том, что выпало во всех рулетках (кроме поля "Комментарий",
            его видно только из админки). В админке хранятся так же старые результаты рулетки, настроил так, чтобы на
            публичной странице отображались только результаты начиная с 1 января 2025.<br/>
            <br/>
            Табличка с результатами рулетки:
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img2.png' %}" alt="Картинка">
            </div>
            1) Дата и время когда был прокрут рулетки.<br/>
            2) Никнейм человека в донате.<br/>
            3) Выполнили ли задание из рулетки.<br/>
            4) Что выпало в рулетке.<br/>
            5) Что человек заказал (если выпал вариант с заказом).<br/>
            <br/>
            Панель с опциями и инфой:
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img3.png' %}" alt="Картинка">
            </div>
            1) Показать все результаты (выполненные + невыполненные).<br/>
            2) Показать только выполненные результаты.<br/>
            3) Показать только невыполненные результаты.<br/>
            4) Показать результаты за выбранный месяц (или сразу все).<br/>
            5) Показать результаты с выбранным никнеймом (или сразу все). Если вижу, что некоторые донатят под разными
            никами, то связываю их как один (например Андрей и anko отображаются как anko). Все фильтры (с 1 по 5)
            суммируются, т.е. действуют одновременно.<br/>
            6) Общее количество результатов с применёнными фильтрами.<br/>
            7) Текстовый информационный блок. Пока что руки не дошли добавить его в админку, так что если нужно изменить
            текст пиши, поправлю.<br/>
            8) Ссылка на главную страницу.<br/>
            <hr/>
            <p>СТРАНИЦА <span class="underline">КЛИПЫ</span></p>
            <hr/>
            <a href="https://yrarami.ru/clips">yrarami.ru/clips</a> - пока тут заглушка, планирую в будущем сделать
            раздел с клипами канала. На главной странице обозначил сразу раздел, чтобы интрига была) Цветом выделил,
            чтобы пустые разделы отличались от действующих. В принципе их можно и убрать пока, если захочешь.
            <hr/>
            <p>СТРАНИЦА <span class="underline">ТВИЧ</span></p>
            <hr/>
            <a href="https://yrarami.ru/twitch">yrarami.ru/twitch</a> - аналогично разделу с клипами, только раздел про
            твич (я уже и сам забыл что хотел тут сделать, ну пусть будет).
            <hr/>
            <p>СТРАНИЦА <span class="underline">ТЕЛЕГРАМ</span></p>
            <hr/>
            <a href="https://yrarami.ru/telegram">yrarami.ru/telegram</a> - ещё один раздел на будущее, только про телегу.
            Можно сделать лидерборд сообщений по количеству сообщений участников чата - за неделю, за месяц, за год.
            Можно сделать аналогичный лидерборд, но по самым залайканным сообщениям. Можно вывесить правила чата.
            Ещё какую-нибудь статистику с телеги тут вести, может миниигры какие-нибудь (проводятся в телеге, а тут стата).
            <hr/>
            <p>СТРАНИЦА <span class="underline">ВОПРОСЫ И ОТВЕТЫ</span></p>
            <hr/>
            <a href="https://yrarami.ru/faq">yrarami.ru/faq</a> - страница с вопросами и ответами. Сюда можно добавлять
            частые вопросы тебе, на которые ты готова ответить. Добавить вопрос и ответ можно через админку. Накидал пока
            несколько штук, можешь их изменять или удалять.
            <hr/>
            <p>СТРАНИЦА <span class="underline">ОБНОВЛЕНИЯ САЙТА</span></p>
            <hr/>
            <a href="https://yrarami.ru/change_list">yrarami.ru/change_list</a> - тут будет перечень всех изменений на
            сайте, все обновления. Короче история всех изменений по версиям.
            <hr/>
            <p>АДМИНКА</p>
            <hr/>
            <a href="https://yrarami.ru/admin">yrarami.ru/admin</a> - основная админка сайта, доступна только админам.
            Вот эта инструкция и кастомная админка тоже доступны только админам.<br/>
            Главное назначение админки - удобный интерфейс для работы с базой данных, чтобы мы все данные видели в виде
            табличек, могли добавлять новые строки, удалять или изменять старые.
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img4.png' %}" alt="Картинка">
            </div>
            1) Ссылка на эту страничку с инструкцией, открывается в соседней вкладке.<br/>
            2) Ссылка на дополнительную кастомную админку, открывается в соседней вкладке.<br/>
            3) История твоих последних действий в админке.<br/>
            4) Таблица для раздела "Вопросы и ответы". Там можно добавить свой вопрос с ответом (он сразу добавится на публичную
            страничку), можно удалить вопрос, можно изменить выбранный вопрос.<br/>
            5) Таблица с заказами випок. Сюда автоматически добавляются все новые заказы випок, эта инфа ни на каких публичных
            страницах не показывается. Можно отмечать кому уже выдали випку. Можно оставлять комментарии.<br/>
            Событие заказа випки распознаётся по названию награды "Вип04ка", так что если сменишь название и не предупредишь,
            то они перестанут сохраняться в базу.<br/>
            6) Таблица для раздела "Результаты рулетки". Перенёс твою инфу с гугл таблицы в базу, можешь проверить на всякий случай.<br/>
            Результаты добавляются теперь атоматически, кнопку для обновления не обязательно нажимать, но если очень хочется, то можно)<br/>
            Можно добавить результат рулетки вручную (допустим заказали фильм за денежку и хотим чтобы он так же отображался
            на публичной странице), тогда в новой записи нужно указать id, который не будет конфликтовать с будущими записями
            из донейшена, т.е. лучше придумать id не в большую сторону от последней записи, а наоборот меньше нуля, с
            отрицательным значением.<br/>
            Так как некоторые донатят под разными никами, то это нужно вручную отслеживать и периодически заносить эти имена в словарь,
            где будут прописаны все псевдонимы для каждого такого человека. Это уж я сам вручную буду мониторить и вносить.<br/>
            7) Таблица с сообщениями из чата тг. Бот сюда будет сохранять все сообщения.<br/>
            8) Таблица для раздела "Ссылки". Тут можно добавлять ссылки с текстовым описанием. Но в отличие от раздела с
            вопросами сразу на публичной странице они не появятся, надо будет мне добавлять.<br/>
            9) Таблица с текстовыми шаблонами. Можно добавить новый шаблон, указать его на какой-нибудь странице и туда
            подставится инфа из админки.<br/>
            <br/>
            Чтобы открыть запись в таблице нужно кликнуть по подсвеченной строке, обычно в первом столбце.
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img6.png' %}" alt="Картинка">
            </div>
            Любую табличку можно скачать (полностью или частично) или удалить сразу несколько записей:
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img7.png' %}" alt="Картинка">
            </div>
            1) Выбираем нужные строки (проставляем галочки).<br/>
            2) Если хотим выбрать все строки на странице, то проставляем самую верхнюю галочку, выберутся все строки.<br/>
            3) После пункта выше появится строка, с предложением выбрать все записи в таблице (на одной странице максимум
            100 записей, страниц может быть много). Если кликнуть туда, то выберутся все записи в таблице.<br/>
            4) Открываем менюшку с выбором действий.<br/>
            5) Выбираем что нам нужно сделать (удалить записи или скачать в одном из двух форматов).<br/>
            6) Есть ещё поиск записей в таблице, я могу настраивать по каким полям ведётся поиск, обычно по всем.<br/>
            <br/>
            Ещё можно сортировать записи в любой таблице по столбцу, достаточно тыкнуть в название столбца.
            <hr/>
            <p>КАСТОМНАЯ АДМИНКА</p>
            <hr/>
            Дополнительная админка, где можно напихать кучу всякого разного.
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img8.png' %}" alt="Картинка">
            </div>
            1) Кнопка для очистки инфы в левом блоке.<br/>
            2) Тут можно получить основную инфу о пользователе. Но тут опечатка - не никнейм, а логин. Никнейм это то
            что в чате отображается, а нам нужно то что прописано в адресной строке браузера на странице человека на твиче.
            Чаще всего они совпадают, но, например, когда ник написан иероглифами, то отличается от логина.<br/>
            3) Аналогично пункту выше, только запрашиваем пользователя по его twitch id.<br/>
            4) Тут можно получить топ клипы с канала, указываем никнейм стримера (опять же, правильнее сказать логин) и
            и выбираем категорию. Добавил самые популярные категории, могу ещё добавить. Выдаст топ 20 клипов по выбранной
            категории, подумал что 20 достаточно, но можно и больше выставить ограничение.<br/>
            Есть ещё один нюанс - у твича есть ограничение, он выдаёт только первую 1000 клипов с наибольшими просмотрами.
            Поэтому если при поиске по конкретной категории выдаст меньше 20 клипов, то это лишь означает, что в первой
            топ 1000 клипов не нашлось 20 клипов именно этой категории. Можно, конечно, обойти это ограничение и сделать
            поиск по вообще всем клипам, но я думаю нафиг нужно, если там будут мизерные просмотры, да и поиск будет
            длиться секунд 40. Сейчас время поиска от 2 до 9 секунд (поэтому, если задумается на несколько секунд - это нормально).<br/>
            В этой опции можно выбирать стримера, а ниже в пунктах 5-9 уже клипы только с твоего канала.<br/>
            5) Получить топ клипы с твоего канала за всё время.<br/>
            6) Получить топ клипы с твоего канала за последний год, т.е. за последние 365 дней.<br/>
            7) Получить топ клипы с твоего канала за текущий год, т.е. с 1 января текущего года.<br/>
            8) Получить топ клипы с твоего канала за последний месяц. т.е. за последние 30 дней.<br/>
            9) Получить топ клипы с твоего канала за последнюю неделю, т.е. за последние 7 дней.<br/>
            <br/>
            Можно ещё что-нибудь придумать, например добавить на эту страницу вывод количества подписчиков с твича, телеги,
            инсты, тиктока, ютуба.
            <hr/>
            <p>БОТ</p>
            <hr/>
            Бот по сути не связан с сайтом и работает отдельно, у них только база данных общая. Я пока не добавлял в
            админку шаблоны для бота, пока думаю как это попроще сделать. Ещё есть идея сохранять в базу логи из админки
            телеги, ведь телеграм хранит только логи за последние 2 дня, а старые удаляет. В общем, в разработке пока.
            <hr/>
            <p>ОБЩЕЕ</p>
            <hr/>
            Зарегистрировал домен для сайта, теперь нет необходимости по ip заходить. И https подключил, а то http
            устаревший протокол, ну ты наверно видела как браузер ругается на http, пишет что подключение не защищено.<br/>
            Можно поменять логотип сайта (иконку в браузере) на какую хочешь. Можно страницы украсить твоими нагенеренными
            смайликами или новые сделать. Можно поискать шрифты поинтереснее. Можно цветовую гамму поменять. Я накидал
            дизайн из головы, ты скажи что изменить, если нужно сделаю.
            <hr/>
            <p>ОБНОВЛЕНИЕ 1.2.0 (25.06.2025)</p>
            Добавлен раздел ФИЛЬМЫ
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img9.png' %}" alt="Картинка">
            </div>
            1) В эту таблицу данные подгружаются из админки из таблицы <span class="underline">Фильмы</span>. Сам буду
            обновлять, тебе можно не заполнять.<br/>
            2) Сюда данные подгружаются из админки из таблицы <span class="underline">Фильмы на просмотр</span>.
            Можешь добавлять/удалять записи сама. Чтобы добавить новый фильм не нужно заполнять все поля вручную, можно так:</br>
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img10.png' %}" alt="Картинка">
            </div>
            2.1) На странице фильма на кинопоиске копируем id из ссылки, вставляем его в поле <span class="underline">Id фильма на кинопоиске</span>,
            сохраняем запись.</br>
            2.2) Ставим галочки напротив тех записей, которые хотим заполнить инфой с кинопоиска, в списке действий выбираем
            <span class="underline">Заполнить инфу с Кинопоиска</span>, жмём Выполнить.</br>
            Готово, все поля в записях заполнятся сами.</br>
            Только после добавления фильма сразу заполняй инфу, а то на странице будет отображаться пустой блок.</br>
            3) Просто картинка<br/>
            4) Сюда данные подгружаются из админки из таблицы <span class="underline">Текстовые шаблоны</span> из записи
            <span class="underline">Правила киноаукциона</span>. Можешь редактировать эту запись.<br/>
            5) Это я сам заполняю.<br/>
            <br/>
            Раз в сутки по скрипту все оценки будут автоматически обновляться (у тех фильмов что посмотрели и что хочешь посмотреть).
            <hr/>
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img12.png' %}" alt="Картинка">
            </div>
            На странице с рулеткой добавил окошко с шансами рулетки при наведении на иконку процента. Текст можно редактировать
            в записи <span class="underline">Шансы рулетки</span> в таблице <span class="underline">Текстовые шаблоны</span>
            в админке.
            <hr/>
            <div class="image-info-container">
                <img class="image-for-info" src="{% static 'main/images/img11.png' %}" alt="Картинка">
            </div>
            Добавил в админке в таблицу <span class="underline">Текстовые шаблоны</span> шаблон для названия главной
            страницы (1) - будет отображаться и на самом сайте на вкладке браузера и в поисковиках и добавил шаблон для
            описания сайта для поисковиков (2). Можешь редактировать текст.<br/>
            <br/>
            <hr/>
            <br/>
            <br/>
        </div>
    </div>
</body>
</html>
