body {
    background-color: #f19cbb;
    overflow-y: hidden;
}

.change-list-container {
    width: 60vw;
    height: 80vh;
    overflow-y: auto;
    margin: 8vh auto auto auto;

    @media (max-aspect-ratio: 1 / 2) {
        width: 90vw;
        height: 90vh;
    }
}

.change-list-container::-webkit-scrollbar {
    width: 1vw;
}

.change-list-container::-webkit-scrollbar-track {
    background-color: rgba(128, 128, 128, 0.1);
    border-radius: 7px;
    margin-top: 1vh;
}

.change-list-container::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border: 2px solid white;
    border-radius: 7px;
}

.change-list-update li {
    margin-left: 50px;
}

details {
    color: black;
    font-family: 'Lato', "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 1vh;
    margin-right: 15px;
    summary {
        list-style: none; /* Убираем маркеры списка */
        cursor: pointer; /* Указываем, что элемент кликабельный */
        font-size: 1.8em;
        border: 4px solid white;
        border-radius: 15px;
        padding: 0.5vh;
        padding-left: 15px;
        background-color: #ffdde7;

        @media (max-aspect-ratio: 1 / 2) {
            font-size: 4em;
            border-radius: 2vw;
            border: 0.5vh solid white;
        }

        @media (max-width: 799px) {
            font-size: 1.5em;
        }
    }

    summary::-webkit-details-marker {
        display: none; /* Убираем треугольник */
    }

    .change-list-update {
        font-size: 1.4em;
        margin-right: 20px;
        margin-left: 30px;
        margin-top: 10px;
        margin-bottom: 20px;

        @media (max-aspect-ratio: 1 / 2) and (min-width: 800px) {
            font-size: 3.4em;
        }

        @media (max-width: 799px) {
            font-size: 1.1em;
            margin-left: 0px;
        }
    }
}

#home-link img {
    position: fixed;
    width: 70px;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.4);
    top: 2.5%;
    right: 1.5%;
    z-index: 10;
    border-radius: 50%;
    object-fit: cover;

    @media (max-aspect-ratio: 1 / 2) {
        width: 13vw;
        top: 1.0%;
    }
}

a {
    color: #551A8B;
}