body {
    height: 100vh;
    background-color: #f19cbb;
    font-family: Arial, sans-serif;
    color: white;
    margin: 0;
}

.main-container {
    display: flex;               /* Включаем Flexbox */
    flex-direction: column;      /* Расположим элементы вертикально */
    justify-content: center;     /* Центрирование по вертикали */
    align-items: center;         /* Центрирование по горизонтали */
    height: 100vh;              /* Устанавливаем полную высоту окна просмотра */
    width: 100%;
    margin: auto;
}

.info-text-2 {
    font-size: 50px;
    margin-bottom: 5%;         /* Расстояние между текстом и кнопкой */
    text-align: center;          /* Выравнивание текста по центру */
}

#home-link img {
    position: fixed;
    width: 70px;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.4);
    top: 2.5%;
    right: 1.5%;
    z-index: 10;
    border-radius: 50%;
    object-fit: cover;
}
