body, html {
    height: 100%; /* �������� ��� ������ ������ */
    margin: 0;    /* ������� ������� �� ��������� */
}

.main-container {
    display: flex;        /* ���������� flexbox ��� ������������ ������ */
    height: 100vh;        /* ����������� ��������� �� ��� ������ ������ */
    overflow: hidden;
    background-color: #f19cbb;
    font-family: Arial, sans-serif;
}

.left-panel {
    width: 28%;
    padding: 10px;
}

.option-block {
    width: 85%;
    margin: 15% auto;
}

.main-block {
    width: 73%;          /* ����� ���� �������� 50% ������ */
    padding: 20px;        /* ��������� ������� ������ ����� */
    box-sizing: border-box; /* ����� padding �� ���������� ������ ����� */
    margin: 0 1% 1% 1%;
    margin-bottom: 10px;
}

.inline-container {
  display: inline-block; /* ��������� �������� � ���� ������ */
  margin-right: 10px;  /* ��������� ������ ������ ����� ���������� */
}

.table-wrapper {
  overflow: auto; /* ��������� ��������� ������ ��� ������� */
  height: 95%;     /* �������� ��� ��������� ������ ������ main-container */
  margin-top: 20px;
  border: 10px solid white;
  border-radius: 20px;
  box-shadow: 0 4px 28px rgba(0, 0, 0, 0.4);
}

button:hover {
    cursor: pointer;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: none;
    padding: 8px;
    text-align: left;
}

th {
    position: sticky;               /* �������� ����������� �������� */
    top: 0;                         /* ��������� ������� ������� */
    background-color: #f19cbb;      /* ������������� ������ ���� ���� */
    z-index: 100;
}

/* ���� ���� ������ ����� */
tbody tr:nth-child(even) {
    background-color: #ffebee;   /* ������� ������� �������� */
}

/* ���� ���� �������� ����� */
tbody tr:nth-child(odd) {
    background-color: #ffdde7;   /* ������� ����� ���������� ������� */
}

tbody tr:hover {
    background-color: #f19cbb !important; /* ��������� ���������� ��� ��������� */
}

.datetime-col {
    width: 14vw;
    min-width: 14vw;
}

.nickname-col {
    width: 11vw;
    min-width: 11vw;
}

.ready-col {
    width: 8vw;
    min-width: 8vw;
}

.result-col {
    width: 13vw;
    min-width: 13vw;
}

.order-col {
    width: 15vw;
    min-width: 15vw;
}

.hidden {
    display: none;
}

/* ��������� ��� WebKit-��������� (Chrome, Safari): */
::-webkit-scrollbar {
    width: 15px;                 /* ������ ���������� */
}

::-webkit-scrollbar-track {
    background: #f19cbb;         /* ��� ������ ��������� */
    border-radius: 10px;         /* �������� ���� */
    margin-top: 50px;
    margin-bottom: 2px;
}

::-webkit-scrollbar-thumb {
    background: #ffdde7;         /* ��� ��������� (�������) */
    border-radius: 7px;         /* �������� ���� ������� */
    transition: all .3s ease;    /* ������� ������� �������� */
}

.results-counter,
.info-block {
    border: 3px solid white;
    border-radius: 10px;
    padding: 7px;
}

.results-counter {
    border: none;
    position: relative;
    width: 24vw;
}

.results-counter span {
    border: 3px solid white;
    border-radius: 10px;
    padding: 7px;
}

.info-block {
    width: 24vw;
    max-height: 50vh;
    border: 3px solid white;
    font-size: 0.95vw;
    background-color: #ffdde7;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.4);

    @media (min-width: 768px) and (min-height: 500px) {
        font-size: 0.7em;
    }

    @media (min-width: 1200px) and (min-height: 800px) {
        font-size: 0.9em;
    }

    @media (min-width: 1200px) and (min-height: 950px) {
        font-size: 1.1em;
    }
}

select#month-select,
select#nickname-select,
select#result-select {
    width: 120%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 4px;
    background-color: #fff;
    padding-left: 15px;
    font-size: 16px;
    appearance: none;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}

select#month-select:hover,
select#nickname-select:hover,
select#result-select:hover {
    cursor: pointer;
}

select#month-select:focus,
select#nickname-select:focus,
select#result-select:focus {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1), 0 0 5px rgba(0, 123, 255, 0.5);
}

option {
    background-color: #fff;
    color: #333;
    padding: 10px;
}

#home-link {
    display: inline-block;
}

#home-link img {
    /*position: fixed;*/
    display: inline-block;
    vertical-align: middle;
    margin-left: 2.5vw;
    width: 2.7vw;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.4);
    z-index: 100;
    border-radius: 50%;
    object-fit: cover;
}

#percent {
    display: inline-block;
    position: relative;
}

#percent:hover {
    cursor: pointer;
}

#percent img {
    display: inline-block;
    vertical-align: middle;
    margin-left: 2.7vw;
    width: 2.7vw;
    z-index: 100;
    object-fit: cover;
}

#percent-popup {
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 130%;
    background-color: #555;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
    padding: 0 15px;
    font-size: 1.4em;
}