@font-face {
  font-family: 'GOTHIC-Regular';
  src: url('../fonts/GOTHIC.TTF') format('opentype'),
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    font-family: GOTHIC-Regular;
    font-size: 3vh;
    color: #93545D;
    overflow: hidden; /* Предотвращаем появление полос прокрутки, если фон точно совпадает */

    @media (max-width: 800px) {
        font-size: 2.4vh;
    }
}

.main-container {
    background-image: url('/static/main/images/schedule_img.png');
    background-size: 100% 100%; /* 100% 100% */
    background-position: center center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    position: relative; /* Оставляем */
    display: flex;      /* Оставляем */
    box-sizing: border-box; /* Добавляем для корректного учета padding */

    @media (width: 1440px) and (height: 900px) {
        background-size: cover;
    }

    @media (max-width: 800px) {
        background-size: cover;
    }

    @media (max-aspect-ratio: 1 / 2) {
        background-image: url('/static/main/images/schedule_img_mobile.png');
        background-size: 100% 100%;
    }
}

.text-blocks-wrapper {
    position: relative; /* Позволяет дочерним элементам позиционироваться относительно себя */
    height: 100vh; /* Высотой равен высоте экрана */
    width: 16vw; /* Ширина равна половине ширины окна браузера */
    margin: auto;
    box-sizing: border-box; /* Включает внутренние отступы в ширину блока */
    padding-top: 50px; /* Верхний отступ для выравнивания внутри блока */

    @media (max-aspect-ratio: 1 / 2) {
        width: 77vw;
        margin-left: 20vw;
    }
}

.text-block {
    position: absolute; /* Позиция относительно родительского элемента */
    width: 100%; /* Заполняем всю доступную ширину */
    box-sizing: border-box; /* Внутренние отступы включаются в размер блока */
    padding: 10px; /* Добавляем внутренние отступы */
    white-space: pre-wrap; /* Перенос длинных строк */
    word-break: break-word; /* Разрыв слова, если оно выходит за пределы блока */
    background-color: transparent; /* Прозрачный фон */
    transition: all .3s ease-in-out; /* Плавная анимация свойств */
    display: flex; /* Преобразуем в гибкий контейнер */
    align-items: center; /* Выравнивание по вертикальной оси */
}

#day-1 {
    top: 21%;
    height: 10.5%;
}

#day-2 {
    top: 32%;
    height: 10.5%;
}

#day-3 {
    top: 43%;
    height: 10.7%;
}

#day-4 {
    top: 54.3%;
    height: 10.1%;
}

#day-5 {
    top: 64.5%;
    height: 11.5%;
}

#day-6 {
    top: 76.5%;
    height: 10.6vh;
}

#day-7 {
    top: 87.5%;
    height: 10.7vh;
}

#day-1, #day-2, #day-3, #day-4, #day-5, #day-6, #day-7 {
    width: 20.5vw;
    @media (max-aspect-ratio: 1 / 2) {
        width: 77vw;
        padding-left: 3vw;
    }
}

#home-link {
    position: fixed;
    top: 5px;
    right: 7px;
    z-index: 100;
}

#home-link img {
    width: 50px;
    box-shadow: 0 4px 28px rgba(0, 0, 0, 0.4);
    z-index: 100;
    border-radius: 50%;
    object-fit: cover;

    @media (max-aspect-ratio: 1 / 2) {
        width: 10vw;
    }
}

#question {
    position: fixed;
    top: 13%;
    right: 39%;
    z-index: 100;

    @media (width: 1440px) and (height: 900px) {
        right: 37.5%;
    }

    @media (max-width: 800px) {
        right: 35%;
    }

    @media (max-aspect-ratio: 1 / 2) {
        right: 7%;
    }
}

#question:hover {
    cursor: pointer;
}

#question-icon {
    width: 40px;
    box-shadow:
        0 0 10px rgba(0, 0, 0, 0.4),  /* Мягкая тень */
        0 0 20px rgba(0, 0, 0, 0.2); /* Более размытая тень */
    z-index: 100;
    border-radius: 50%;
    object-fit: cover;

    @media (width: 2560px) and (height: 1440px) {
        width: 70px;
    }

    @media (max-width: 800px) {
        width: 30px;
    }

    @media (max-aspect-ratio: 1 / 2) {
        width: 10vw;
    }
}

#question-popup {
    display: none;
    width: 20vw;
    position: absolute;
    z-index: 1;
    top: 0;
    background-color: #555;
    color: #fff;
    font-size: 2.5vh;
    text-align: left;
    border-radius: 6px;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.5);
    padding: 0 15px;

    @media (min-width: 800px) {
        left: 130%;
    }

    @media (max-aspect-ratio: 1 / 2) {
        right: 130%;
        width: 70vw;
        font-size: 1.9vh;
    }
}